# Student

In [23]:
import pandas as pd
import random
from openpyxl import load_workbook

import shutil
#  getting the list of the students  store them in arr1 and all_student_final
# excel file with all the students names and free time 
stu = pd.read_excel("stufree.xlsx")


# getting access to time that the student free in 
free_time = list(stu['free'])

arr1 = []

arr = ["10", "10:30", "11", "11:30", "12", "12:30", "1", "1:30", "2", "2:30", "3", "3:30", "4", "4:30"]

for i in free_time:
    if "and" in i:
         i = i.replace("and", "--")
    i = i.replace(" ", "")
    i = i.replace(".", "")
    i = i.replace("230", "2:30")
    i = i.replace("330", "3:30")
    i = i.replace("5", "4:30")
    
    x = i.split("-")
    if len(x) > 2: 
        st = f'{arr[arr.index(x[0]):arr.index(x[1])]} and  {arr[arr.index(x[3]) : arr.index(x[4])]}'
        print(st)
        arr1.append(st)
    else:
        
        arr1.append(arr[arr.index(x[0]):arr.index(x[1])])
    
all_student_final = arr1
# for i in arr1:    
#     print(i)

['12:30', '1', '1:30'] and  ['3', '3:30', '4']
['10', '10:30', '11', '11:30', '12', '12:30'] and  ['3', '3:30', '4']
['11', '11:30', '12', '12:30', '1', '1:30'] and  ['4']
['11', '11:30', '12', '12:30', '1', '1:30'] and  ['4']
['10', '10:30'] and  ['1', '1:30', '2', '2:30', '3', '3:30', '4']
['10', '10:30', '11', '11:30', '12', '12:30', '1', '1:30', '2'] and  ['4']
['10', '10:30', '11', '11:30'] and  ['3', '3:30', '4']

# create a file insert cloumn with intervals as arrays of slots that the students are free in

In [24]:


shutil.copy("stufree.xlsx", "stufreeEdited.xlsx")
writer = pd.ExcelWriter('stufreeEdited.xlsx', engine='openpyxl') 
df = pd.read_excel("stufree.xlsx");
wb  = writer.book
df.insert(3, 'Time_array', arr1,  allow_duplicates = False)
df.to_excel(writer, index=False)
wb.save('stufreeEdited.xlsx')

In [25]:
# create an array of the students full name
fname = stu['fname']
lname = stu['lname']
all_student = [] 
for f, l in zip(fname, lname):
   all_student.append(f + " " + l)
all_student

['Ashlyn Reich',
 'Aurelio Molina',
 'Avril Boling',
 'Belva Daugherty',
 'Brandee Howerton',
 'Carolann Willett',
 'Cassy Bullard',
 'Chi Locke',
 'Chloe Marlow',
 'Clair Crum',
 'Conception Bollinger',
 'Cristie Mcneely',
 'Danyel Melancon',
 'Eleanora Lunsford',
 'Estefana Terrell',
 'Fabian Marin',
 'Felipa Kenyon',
 'Gaynelle Kasper',
 'Hye Fain',
 'Isabella Stock',
 'Jayme Turley',
 'Joesph Fairbanks',
 'Leontine Talbot',
 'Ligia Lancaster',
 'Lilli Vail',
 'Maryanne Burkholder',
 'Mathilda Snead',
 'Mellisa Daly',
 'Myrle Stephenson',
 'Norberto Lavender',
 'Palmira Lyles',
 'Rachell Villareal',
 'Reed Williford',
 'Riva Hurd',
 'Rivka Wiley',
 'Ronald Pinkerton',
 'Samual Blank',
 'Saran Albers',
 'Sibyl Peacock',
 'Stephany Willard',
 'Taryn Choate',
 'Vanetta Forbes',
 'Viviana Stockton',
 'Xenia Valenti']

# Reading company

In [26]:
import pandas as pd
from openpyxl import load_workbook

wb = load_workbook("company_list.xlsx")
wb.active
print("sheets: ")
for sheet in wb.worksheets:
    print (str(sheet).replace('<Worksheet "', "").replace('">', ""))

sheets:
Apple
Facebook

In [27]:

for sheet in wb.worksheets: 
    comapny1 = (str(sheet).replace('<Worksheet "', "").replace('">', ""))
    
    print(comapny1,"Row: " , sheet.max_row)
    
    print((str(sheet).replace('<Worksheet "', "").replace('">', "")),"Column: " , sheet.max_column)

Apple Row:  8
Apple Column:  3
Facebook Row:  7
Facebook Column:  3

#  Apple

In [28]:
max_row_apple = wb['Apple'].max_row
apple_student = wb['Apple']['A2':f'B{max_row_apple}']
for row in apple_student:
    print (row[0].value )

Saran
Sibyl
Stephany
Taryn
Vanetta
None
None

In [29]:
max_row_apple = wb['Apple'].max_row
apple_student = wb['Apple']['A2':f'B{max_row_apple}']
apple_stu_names = []
for row in apple_student:
    
    if row[0].value != None and row[1].value != None :
        apple_stu_names.append(row[0].value + " " + row[1].value )
apple_stu_names

['Saran Albers',
 'Sibyl Peacock',
 'Stephany Willard',
 'Taryn Choate',
 'Vanetta Forbes']

# facebook

In [30]:
max_row_facebook = wb['Facebook'].max_row
facebook_student = wb['Facebook']['A2':f'B{max_row_facebook}']
facebook_stu_names = []
for row in facebook_student:
    if row[0].value != None:
        facebook_stu_names.append(row[0].value + " " + row[1].value )
facebook_stu_names

['Ashlyn Reich',
 'Aurelio Molina',
 'Avril Boling',
 'Belva Daugherty',
 'Brandee Howerton',
 'Carolann Willett']

In [31]:

copyOfstudent = all_student
companySTUDENT = []

companySTUDENT= apple_stu_names + facebook_stu_names


for i , j in zip(companySTUDENT, copyOfstudent):


    if i in copyOfstudent:

        copyOfstudent.remove(i)

print(len(copyOfstudent),len(companySTUDENT) )

33 11

In [32]:
# all student time in dict
arr1
stu_dict ={}
count = 0
for i, j , h in zip(stu['fname'], stu['lname'], arr1):
    name = i+ " "+ j
    stu_dict[name] = h
stu_dict

{'Ashlyn Reich': ['10', '10:30', '11', '11:30', '12', '12:30', '1', '1:30'],
 'Aurelio Molina': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30'],
 'Avril Boling': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30'],
 'Belva Daugherty': ['4'],
 'Brandee Howerton': ['2', '2:30', '3', '3:30', '4'],
 'Carolann Willett': "['12:30', '1', '1:30'] and  ['3', '3:30', '4']",
 'Cassy Bullard': ['10', '10:30', '11', '11:30', '12', '12:30', '1', '1:30'],
 'Chi Locke': ['2', '2:30'],
 'Chloe Marlow': "['10', '10:30', '11', '11:30', '12', '12:30'] and  ['3', '3:30', '4']",
 'Clair Crum': ['3', '3:30', '4'],
 'Conception Bollinger': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30'],
 'Cristie Mcneely': ['1', '1:30', '2', '2:30', '3', '3:30', '4'],
 'Danyel Melancon': ['1', '1:30', '2', '2:30'],
 'Eleanora Lunsford': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30'],
 'Estefana Terrell': ['11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30',
  '3',
  '3:30',
  '4'],
 'Fabian Marin': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30',
  '3',
  '3:30',
  '4'],
 'Felipa Kenyon': ['10', '10:30', '11', '11:30'],
 'Gaynelle Kasper': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30',
  '3',
  '3:30',
  '4'],
 'Hye Fain': "['11', '11:30', '12', '12:30', '1', '1:30'] and  ['4']",
 'Isabella Stock': ['1', '1:30', '2', '2:30', '3', '3:30', '4'],
 'Jayme Turley': ['2', '2:30', '3', '3:30'],
 'Joesph Fairbanks': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30',
  '3',
  '3:30',
  '4'],
 'Leontine Talbot': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30',
  '3',
  '3:30',
  '4'],
 'Ligia Lancaster': ['4'],
 'Lilli Vail': ['12', '12:30', '1', '1:30', '2', '2:30', '3', '3:30', '4'],
 'Maryanne Burkholder': "['11', '11:30', '12', '12:30', '1', '1:30'] and  ['4']",
 'Mathilda Snead': ['11', '11:30', '12', '12:30', '1', '1:30', '2', '2:30'],
 'Mellisa Daly': "['10', '10:30'] and  ['1', '1:30', '2', '2:30', '3', '3:30', '4']",
 'Myrle Stephenson': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30',
  '3',
  '3:30',
  '4'],
 'Norberto Lavender': "['10', '10:30', '11', '11:30', '12', '12:30', '1', '1:30', '2'] and  ['4']",
 'Palmira Lyles': ['1', '1:30', '2', '2:30', '3', '3:30', '4'],
 'Rachell Villareal': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30',
  '3',
  '3:30',
  '4'],
 'Reed Williford': ['1', '1:30', '2', '2:30', '3', '3:30', '4'],
 'Riva Hurd': ['1', '1:30', '2', '2:30', '3', '3:30', '4'],
 'Rivka Wiley': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30',
  '3',
  '3:30',
  '4'],
 'Ronald Pinkerton': ['1:30', '2', '2:30', '3', '3:30', '4'],
 'Samual Blank': ['2', '2:30', '3', '3:30', '4'],
 'Saran Albers': ['12', '12:30', '1', '1:30', '2', '2:30', '3', '3:30', '4'],
 'Sibyl Peacock': "['10', '10:30', '11', '11:30'] and  ['3', '3:30', '4']",
 'Stephany Willard': ['3:30', '4'],
 'Taryn Choate': ['3', '3:30', '4'],
 'Vanetta Forbes': ['1', '1:30', '2', '2:30', '3', '3:30', '4'],
 'Viviana Stockton': ['12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30',
  '3',
  '3:30',
  '4'],
 'Xenia Valenti': ['1', '1:30', '2', '2:30', '3', '3:30', '4']}

In [33]:
arr_interval_company = ["10", "10:30", "11", "11:30", "12", "12:30", "1", "1:30", "2", "2:30", "3", "3:30", "4", "4:30"]
len(arr_interval_company)

14

In [34]:
# loop through facebook

import ast
str_temp  = ""
facebook_stu_dic = {}
for i in  facebook_stu_names:
    print(i ,":",stu_dict [i])
    if type(stu_dict [i])== type("stu_dict [i]"):
        str_temp = stu_dict [i]
        x = (str_temp.replace("] and  [", ","))
        x = x.replace(" ", "")
        x2 = ast.literal_eval(x)
        stu_dict [i]= x2
    facebook_stu_dic [i] = stu_dict [i]  
facebook_stu_dic

Ashlyn Reich : ['10', '10:30', '11', '11:30', '12', '12:30', '1', '1:30']
Aurelio Molina : ['10', '10:30', '11', '11:30', '12', '12:30', '1', '1:30', '2', '2:30']
Avril Boling : ['10', '10:30', '11', '11:30', '12', '12:30', '1', '1:30', '2', '2:30']
Belva Daugherty : ['4']
Brandee Howerton : ['2', '2:30', '3', '3:30', '4']
Carolann Willett : ['12:30', '1', '1:30'] and  ['3', '3:30', '4']

{'Ashlyn Reich': ['10', '10:30', '11', '11:30', '12', '12:30', '1', '1:30'],
 'Aurelio Molina': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30'],
 'Avril Boling': ['10',
  '10:30',
  '11',
  '11:30',
  '12',
  '12:30',
  '1',
  '1:30',
  '2',
  '2:30'],
 'Belva Daugherty': ['4'],
 'Brandee Howerton': ['2', '2:30', '3', '3:30', '4'],
 'Carolann Willett': ['12:30', '1', '1:30', '3', '3:30', '4']}

In [35]:
for i in facebook_stu_dic:
    if len(facebook_stu_dic[i]) < 5:
        
        print("tier a", facebook_stu_dic[i])
        
    elif len(facebook_stu_dic[i]) <= 10:
         print("tier b", facebook_stu_dic[i])
    
    elif len(facebook_stu_dic[i]) <= 14:
        print("tier c", facebook_stu_dic[i])

tier b ['10', '10:30', '11', '11:30', '12', '12:30', '1', '1:30']
tier b ['10', '10:30', '11', '11:30', '12', '12:30', '1', '1:30', '2', '2:30']
tier b ['10', '10:30', '11', '11:30', '12', '12:30', '1', '1:30', '2', '2:30']
tier a ['4']
tier b ['2', '2:30', '3', '3:30', '4']
tier b ['12:30', '1', '1:30', '3', '3:30', '4']

In [36]:
def scheduling(companyList, company_ava_dic, i):
    if i not in company_ava_dic.values():
#         print(company_ava_dic)
        if len(companyList[i])> 0:
#             indexofchonesn = companyList[i].index(random.choice(companyList[i]))
            
            company_ava_dic[stu_dict[i].pop(0)]= i
#             print("asfdsa")
    
def TieringCompany(companyList, company_ava_dic):
    #Tier A
    for i in companyList:
        if len(companyList[i]) <= 1  :
            scheduling(companyList, company_ava_dic, i)
#     print("A:", companyList[i])
    for i in companyList:
        if len(companyList[i]) >=2  and len(companyList[i]) <= 5 :
            scheduling(companyList, company_ava_dic, i)
#     print("A:", companyList[i])
    
            
    for i in companyList:
        if len(companyList[i]) >= 6 and len(companyList[i]) <= 10 :
            scheduling(companyList,company_ava_dic, i)
#     print("B:", companyList[i])
    for i in companyList:
        if  len(companyList[i]) > 10 :
            scheduling(companyList, company_ava_dic, i)
#     print("C:", companyList[i])
    return company_ava_dic

In [37]:
facebook_ava_arr = arr_interval_company 
facebook_ava_dic = {i : "" for i in facebook_ava_arr }
# print(facebook_ava_dic)
TieringCompany( facebook_stu_dic, facebook_ava_dic)

{'10': 'Avril Boling',
 '10:30': '',
 '11': '',
 '11:30': '',
 '12': '',
 '12:30': 'Carolann Willett',
 '1': '',
 '1:30': '',
 '2': 'Brandee Howerton',
 '2:30': '',
 '3': '',
 '3:30': '',
 '4': 'Belva Daugherty',
 '4:30': ''}

In [38]:
def create_company_student_dict(company_stu_names):
    import ast
    str_temp  = ""
    company_stu_dic = {}
    for i in  company_stu_names:
#         print(i ,":",stu_dict [i])
        if type(stu_dict [i])== type("stu_dict [i]"):
            str_temp = stu_dict [i]
            x = (str_temp.replace("] and  [", ","))
            x = x.replace(" ", "")
            x2 = ast.literal_eval(x)
            stu_dict [i]= x2
        company_stu_dic [i] = stu_dict [i]  
    return company_stu_dic
create_company_student_dict (apple_stu_names)

{'Saran Albers': ['12', '12:30', '1', '1:30', '2', '2:30', '3', '3:30', '4'],
 'Sibyl Peacock': ['10', '10:30', '11', '11:30', '3', '3:30', '4'],
 'Stephany Willard': ['3:30', '4'],
 'Taryn Choate': ['3', '3:30', '4'],
 'Vanetta Forbes': ['1', '1:30', '2', '2:30', '3', '3:30', '4']}

In [39]:

apple_ava_dic = {i : "" for i in arr_interval_company }
print(apple_ava_dic)
apple_stu_dic = create_company_student_dict (apple_stu_names)
apple_stu_dic
# TieringCompany( apple_stu_dic, apple_ava_dic)

{'10': '', '10:30': '', '11': '', '11:30': '', '12': '', '12:30': '', '1': '', '1:30': '', '2': '', '2:30': '', '3': '', '3:30': '', '4': '', '4:30': ''}

{'Saran Albers': ['12', '12:30', '1', '1:30', '2', '2:30', '3', '3:30', '4'],
 'Sibyl Peacock': ['10', '10:30', '11', '11:30', '3', '3:30', '4'],
 'Stephany Willard': ['3:30', '4'],
 'Taryn Choate': ['3', '3:30', '4'],
 'Vanetta Forbes': ['1', '1:30', '2', '2:30', '3', '3:30', '4']}

In [40]:
interivew_schedule = TieringCompany( apple_stu_dic, apple_ava_dic)